.p-website-outline
  h1.p-website-outline__title
    +textLink("../", "MetaFi project")
  p.p-website-outline__description
    |built on 
    +textLink("https://www.binance.com/", "BNB", "_blank")
  .p-website-outline__links
    a(href="https://github.com/", target="_blank").p-website-outline__link
      +iconGitHub(24)
    a(href="https://twitter.com/", target="_blank").p-website-outline__link
      +iconTwitter(24)
    a(href="mailto:hello@viefam.com").p-website-outline__link
      +iconMail(24)
